@import '../colors.less';
@import './default.less';

.ant-card-bordered {
  border: solid 1px @primary-color-light;
}

.ant-card-no-padding {
  .ant-card-body {
    padding: 0;
  }
}

.ant-card-hover-primary-border:hover {
  border-color: @primary-color;
  color: @primary-color;
  svg {
    color: @primary-color;
  }
}

.ant-card-hover-primary-border {
  border-color: @primary-color-light;
  color: @primary-color-light;
  svg {
    color: @primary-color-light;
  }
}
