@import '../colors.less';
@import './default.less';

.ant-page-header.ant-page-header-ghost.ant-page-header-compact {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(/static/images/header/group-4.png);
  height: 123px;
  padding-bottom: 24px;
  padding-left: 14px;
  padding-right: 16px;
  padding-top: 16px;
  .ant-page-header-heading {
    .ant-page-header-heading-left {
      transition: all 0.3s;
      margin: 0;
      padding-left: 2px;
      .arrow-left {
        width: 24px;
        height: 24px;
      }
      &:active {
        padding-left: 0px;
        path {
          fill: @primary-1;
        }
      }
      &:hover {
        path {
          fill: @primary-1;
        }
      }
    }
  }

  .ant-page-header-content {
    padding-top: 20px;
    div.title {
      font-family: '12LotteMartDream';
      font-size: 26px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: -0.5px;
      text-align: center;
      color: #ffffff;
    }
  }
}
