@import '../colors.less';
@import './default.less';

.ant-tag-checkable:not(.ant-tag-checkable-checked) {
  color: @primary-5;
  background: white;
  border-color: @primary-5;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  border-color: @primary-color;
}

.ant-tag-checkable {
  margin: 0;
}
