@import '../index.less';

.ant-override {
  .ant-radio-button-wrapper {
    border: 1px solid @white;
    border-radius: 4px;
    color: @greyish-brown;
  }
  .ant-radio-button-wrapper-checked {
    border-color: @primary-color;
    background-color: fade(@primary-color, 7%);
    color: @primary-color;
    div {
      color: @primary-color;
    }
  }

  .ant-radio-button-wrapper:first-child:last-child {
    border-radius: 4px;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active::before {
    content: none;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    content: none;
  }
}
