@import '../index.less';

.ant-tag-checkable:not(.ant-tag-checkable-checked) {
  background: white;
  border: 1px solid @white;
}

.ant-tag-checkable-checked {
  background-color: @peacock-blue-7;
  color: @peacock-blue;
  border: 1px solid @primary-color;
}

.ant-tag-checkable {
  margin: 0;
}

.ant-tag.rounded-tag {
  border-radius: 10px;
}

.ant-tag {
  padding: 0;
  margin: 0;
  border-radius: 0px;
}
