@import '../assets/ant-override/default.less';

.current-customer-count {
  height: 20px;
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.61px;
  color: #555555;
  margin-bottom: 8px;

  span {
    color: @primary-color;
  }
}
