@import '../ant-override/default.less';
@import '../constants/colors.less';

each(range(25), {
    .fs@{value} {
        font-size: @value * 1px;
      }
})
  .fc-pc {
  color: @primary-color;
}

.fc-dsb {
  color: @dark-sky-blue;
}

.fc-w {
  color: white;
}

.fc-wgt {
  color: @warm-grey-two;
}

.fc-gf {
  color: @grapefruit;
}

.fwb {
  font-weight: bold;
}

@ls-values: 6, 7, 8;
each(@ls-values, {
  .fls@{value} {
    letter-spacing: @value * -0.1px; 
  }
});

.fu {
  text-decoration: underline;
}
