each(range(25), {
    .p@{value} {
      padding: @value * 1px;
    }
    .pt@{value} {
        padding-top: @value * 1px;
      }
      .pr@{value} {
        padding-right: @value * 1px;
      }
      .pb@{value} {
        padding-bottom: @value * 1px;
      }
      .pl@{value} {
        padding-left: @value * 1px;
      }
      .ph@{value} {
        padding-left: @value * 1px;
        padding-right: @value * 1px;
      }
      .pv@{value} {
        padding-top: @value * 1px;
        padding-bottom: @value * 1px;
      }
      

  });

each(range(25, 50, 5), {
    .p@{value} {
      padding: @value * 1px;
    }
    .pt@{value} {
        padding-top: @value * 1px;
      }
      .pr@{value} {
        padding-right: @value * 1px;
      }
      .pb@{value} {
        padding-bottom: @value * 1px;
      }
      .pl@{value} {
        padding-left: @value * 1px;
      }
      .ph@{value} {
        padding-left: @value * 1px;
        padding-right: @value * 1px;
      }
      .pv@{value} {
        padding-top: @value * 1px;
        padding-bottom: @value * 1px;
      }
      

  });
