each(range(0 , 100, 10 ), {
    .wp@{value} {
        width: @value * 1%;
      }
})


each(range(0 , 25, 1 ), {
  .w@{value} {
      width: @value * 1px;
    }
})

each(range(30 , 100, 5 ), {
  .w@{value} {
      width: @value * 1px;
    }
})


@specific-widths: 0, 78, 128;

each(@specific-widths, {
  .w@{value} {
    width: @value * 1px;
  }
})