@import '~antd/dist/antd.less';
@import 'assets/less/index.less';
.App {
  display: flex;
  justify-content: center;
  color: @greyish-brown;
  max-width: @max-screen-width;
  max-height: @max-screen-height;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  overflow-y: auto;
}
