each(range(-360, 360, 90), {
    
    .rot@{value}{
       &:active{

      
            svg{ 
                transform: rotate(@value * 1deg);  
             }
            }
       
    }
})
  .transition3 {
  & * {
    -moz-transition: all 3s linear;
    -webkit-transition: all 3s linear;
    transition: all 3s linear;
  }
}
